.error {
  color: #ff0000;
  border-color: #ff0000; }

.cartogram-list {
  padding-left: 0;
  padding-right: 0; }
  .cartogram-list #cartogram-edit-form,
  .cartogram-list #all-cartograms,
  .cartogram-list #cartogram-create-form {
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px; }
  .cartogram-list #all-cartograms {
    overflow-y: visible;
    overflow-x: visible; }
  .cartogram-list .multiselect--disabled {
    background-color: #eef2f4; }
  .cartogram-list .multiselect {
    min-height: 32px; }
    .cartogram-list .multiselect .multiselect__option {
      font-size: 13px;
      padding: 6px 10px;
      min-height: 30px; }
    .cartogram-list .multiselect .multiselect__select {
      height: 32px;
      width: 25px; }
    .cartogram-list .multiselect .multiselect__select:before {
      color: #676a6c;
      margin-top: 4px;
      border-style: solid;
      border-width: 6px 3px 0;
      border-color: #676a6c transparent transparent; }
    .cartogram-list .multiselect .multiselect__tags {
      padding: 0 20px 0 0;
      border-radius: 2px;
      min-height: 32px;
      border: 1px solid #ccc; }
      .cartogram-list .multiselect .multiselect__tags .multiselect__input, .cartogram-list .multiselect .multiselect__tags .multiselect__single {
        margin-bottom: 0;
        font-size: 14px;
        color: #676a6c;
        padding-top: 4px;
        padding-left: 12px; }
  .cartogram-list .form-group {
    margin: 0 0 10px 0; }
  .cartogram-list .control-label {
    margin-bottom: 5px; }
  .cartogram-list .left-part {
    width: calc(63% - 10px);
    float: left;
    margin-right: 10px; }
  .cartogram-list .right-part {
    width: 37%;
    float: left; }
  @media (max-width: 1355px) {
    .cartogram-list .right-part,
    .cartogram-list .left-part {
      width: 100%; } }
  .cartogram-list .footer-panel {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    bottom: -8px; }
  .cartogram-list .error .multiselect__tags {
    border-color: #ff0000 !important; }
  .cartogram-list .mx-input,
  .cartogram-list .multiselect .multiselect__tags,
  .cartogram-list .multiselect .multiselect__input,
  .cartogram-list .multiselect .multiselect__single {
    background: #eef2f4;
    border: 1px solid #eef2f4;
    border-radius: 0; }
  .cartogram-list .mx-input:focus,
  .cartogram-list .multiselect:focus {
    border: none;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .cartogram-list .cartogram-panel-list {
    color: #606060; }
    .cartogram-list .cartogram-panel-list .panel-group {
      margin-bottom: 0;
      margin: 10px; }
    .cartogram-list .cartogram-panel-list .title-list {
      background-image: none !important;
      margin-left: -20px; }
    .cartogram-list .cartogram-panel-list .panel-default {
      border-top: 3px solid #fff; }
      .cartogram-list .cartogram-panel-list .panel-default .panel-heading {
        padding-left: 0; }
      .cartogram-list .cartogram-panel-list .panel-default .panel-body {
        padding-left: 0; }
      .cartogram-list .cartogram-panel-list .panel-default .collapse-toggle {
        background-color: #eef2f4;
        padding: 15px 15px 15px 30px;
        background-position: 14px -20px;
        border-left: 5px solid grey; }
        .cartogram-list .cartogram-panel-list .panel-default .collapse-toggle.collapsed {
          background: #eef2f4 url(../images/arr.png) no-repeat 98% 17px;
          padding-left: 10px; }
    .cartogram-list .cartogram-panel-list .cartogram-content {
      padding: 10px !important; }
      .cartogram-list .cartogram-panel-list .cartogram-content .cartogram-content-button {
        margin-bottom: 10px; }
  .cartogram-list .list-item {
    white-space: nowrap;
    width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    text-align: left;
    padding-top: 5px; }
  .cartogram-list .list-item-row .btn {
    margin-top: 1px; }
  .cartogram-list .list-title {
    background: #eef2f4;
    padding: 3px 10px;
    margin: 10px 0; }
    .cartogram-list .list-title h2 {
      font-size: 16px;
      margin-top: 9px; }
  .cartogram-list textarea {
    resize: none; }
  .cartogram-list .btn-element {
    border: none;
    background-color: transparent;
    color: #54a2dd;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    padding: 6px 12px;
    font-size: 11px;
    line-height: 1.4; }
    .cartogram-list .btn-element:hover, .cartogram-list .btn-element:focus {
      opacity: .8; }
  .cartogram-list .mx-datepicker-popup.range div {
    overflow: visible !important; }

/*# sourceMappingURL=main.css.map */